{% extends 'base.html.twig' %}

{% block title %}Edition utilisateur n° {{ user.id }}{% endblock %}

{% block body %}

  <h1 class="text-center">Edition utilisateur #{{ user.id }}</h1>

  {% block sidebar %}
    <div class="section actions mb-4 d-flex justify-content-center">
        {{ include('admin/components/_form_delete_user.html.twig', { user: user }, with_context = false) }}
    </div>   

    <div class="section">
      
    </div>

    {{ parent() }}
    
  {% endblock %}

  {{ include('admin/components/_form_modif_user.html.twig', { form: form }, with_context = false) }}

  



{% endblock %}
