{% extends 'base.html.twig' %}

{% block title %}Edition Post n° {{ post.id }}{% endblock %}

{% block body %}

  <h2 class="text-center mb-4">Administration</h2>
  <h1 class="text-center">Edition post #{{ post.id }}</h1>

  {% block sidebar %}
    <div class="section actions mb-4 d-flex justify-content-center">
        <a class="btn btn-sm btn-success rounded" href="{{ path('admin_blog_post_by_id', { id: post.id })}}">
          <i class="bi bi-eye-fill fs-6" aria-hidden="true"></i>
          Voir
        </a>
        {{ include('admin/components/_delete_form.html.twig', { post: post }, with_context = false) }}
    </div>   

    <div class="section">
      
    </div>

    {{ parent() }}
    
  {% endblock %}

  {{ include('admin/components/_form_modif_post.html.twig', { form: form }, with_context = false) }}

  



{% endblock %}
