{% extends 'base.html.twig' %}

{% block title %}Post n° {{ post.id }}{% endblock %}

{% block body %}

  <h2 class="text-center mb-4">Administration</h2>

  {% block sidebar %}
    <div class="section actions mb-4 d-flex justify-content-center">
        <a class="btn btn-sm btn-info rounded" href="{{ path('admin_blog_edit_post', { id: post.id }) }}">
            <i class="bi bi-pencil-fill fs-6" aria-hidden="true"></i>
            Editer
        </a>
        {# 
        include('admin/blog/_delete_form.html.twig': Cette instruction Twig inclut le template _delete_form.html.twig 
        situé dans le répertoire admin/blog/. L'instruction include permet d'insérer le contenu d'un autre template 
        dans le template actuel.

        {post: post}: Cela transmet l'objet post actuel au template inclus _delete_form.html.twig. 
        Cela signifie que le template _delete_form.html.twig aura accès à l'objet post 
        et pourra utiliser ses propriétés pour construire le formulaire de suppression de l'article.

        with_context = false: Cette partie spécifie que le contexte ne doit pas être transmis au template inclus. 
        Par défaut, Twig transmet le contexte du template parent au template inclus, 
        mais en spécifiant with_context = false, le contexte n'est pas transmis. 
        Cela signifie que seules les variables spécifiquement passées dans l'instruction include seront disponibles 
        dans le template inclus.
      #}
      {{ include('admin/blog/_form_delete_post.html.twig', { post: post }, with_context = false) }}
    </div>   

    <div class="section">
      
    </div>

    {{ parent() }}
  {% endblock %}

  {% block main %}

    <h1 class="text-center">{{ post.title }}</h1>

    <p class="post-metadata text-center mb-3">
      <span class="metadata">
        <i class="material-symbols-outlined">event</i>
        {{ post.publishedAt | date('d.m.Y H:i') }}
      </span>
      <span class="metadata">
        <i class="bi bi-person-circle"></i>
        {{ post.author.fullname }}
      </span>   
    </p>

    <div class="jumbotron rounded-3">
      <p class="mb-0 border-top border-bottom p-3">
        {{ post.summary }}
      </p>      
    </div>
    <p>
      {{ post.content | markdown_to_html }}
    </p>
  {% endblock %}

{% endblock %}
